<div class="toolbar" role="banner">
  <img width="50" alt="Angular Logo" src="./assets/images/dart.svg" />
  <span style="margin-left: 10px; font-size: 2rem;">DART SCOREBOARD</span>
</div>

<div id="movable-container" style="display: flex; height: 91vh; width: 100%;">
  <div id="movable-left" style="flex: 63%; border-right: 1px solid #ccc;">
    <div class="content">
      <app-scores></app-scores>
    </div>
  </div>
  <div id="divider" style="width: 10px; cursor: col-resize; background-color: #ccc;"></div>
  <div id="movable-right" style="flex: 37%; overflow: auto;">
    <div class="content">
      <app-darters></app-darters>
    </div>
  </div>
</div>

<router-outlet></router-outlet>